body {
	background: #F6F6F6;
}
a:hover {
	color: unset;
}

.wrap {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	min-height: calc(100vh - 210px);
}

.temp_img {
	margin: 20px auto;
	display: block;
	width: 90%;
	max-width: 500px;
}


section.title {
	width: 100%;
}

section.title h1 {
	text-align: center;
	margin: 30px 0 50px 0;
}

/* main */
main {
	width: 100%;
}

main ul .order_box {
	width: 1000px;
	height: 150px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	background: cornsilk;
	padding: 20px;
}

#order_list li {
	border: 1px solid #ddd;
	display: flex;
	padding: 15px;
}

#order_list li .img_box {
	height: 130px;
	width: 130px;
	border: 1px solid #ddd;
	border-radius: 10px;
	margin-right: 20px;
	overflow: hidden;
}

#order_list li .img_box img {
	width: 100%;
	height: 100%;
}

#order_list li .info_box {
	flex: 4;
	overflow: hidden;
}

#order_list li .info_box h2,
#order_list li .info_box > span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#order_list li .review_btn_box {
	flex: 1;
	text-align: center;
}

#order_list li .review_btn_box button {
	height: 30px;
	width: 100px;
	background: none;
	margin-bottom: 10px;
	font-size: 1.3rem;
}



/* ------------리뷰 쓰기 모달-------------- */
.modal  .modal_box {
	height: calc(100% - 80px);
}

.modal form {
	display: inline;
}

.modal .score_box {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
}
.modal .score_box i {
	font-size: 22px;
}

.modal .score_box .fas {
	color: gold;
}

.modal .review_text {
	margin: 0 auto;
	width: 90%;
}

.modal .review_text textarea {
	width: 90%;
	margin: 0 auto 30px auto;
	display: block;
	padding: 5px;
	font-size: 1.6rem;;
	background: #eee;
	border: none;
}

.modal .img_box {
	width: 80%;
	margin: 0 auto 50px;
}

.modal .img {
	display: none; 
}

.modal .img_box label {
	display: inline-block;
	width: 80px;
	height: 60px;
	border: 1px solid #ddd;
	border-radius: 10px;
	text-align: center;
	line-height: 60px;
}

.modal .img_box div {
	margin-top: 20px;
	position: relative;
	display: none;
	width: 150px;
	height: 150px;
}

.modal .img_box img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
	border: 1px solid #ddd;
}

.modal .img_close {
	background: #ccc;
	position: absolute;
	top: -10px;
	right: -10px;
	width: 25px;
	height: 25px;
	color: #fff;
	border-radius: 50%;
	border: none;
}

.modal .review_submit_btn {
	background: #ddd;
}
/* ------------리뷰 쓰기, 수정하기 모달-------------- */
@media ( max-width :1023px) {
	.wrap {
		width: 99%;
	}
	section.title {
		height: 80px;
	}

}

@media ( max-width :767px) {
	.wrap {
		width: 99%;
		min-height: calc(100vh - 160px);
	}
	
	#order_list li .img_box {
		height: 100px;
		width: 100px;
		margin-right: 15px;
	}
	
	#order_list li .review_btn_box button {
		width: 80px;
		border-radius: 10px;
	}

	.modal .review_btn_box {
		right: 0px;
		top: 5px
	}
	.modal .review_btn_box button {
		width: 80px;
		font-size: 10px;
	}
}



@media ( max-width :480px) {
	#order_list li {
		padding: 15px 5px;
	}

	#order_list li .review_btn_box button {
		width: 60px;
	}
	
	#order_list li .img_box {
		margin-right: 10px;
	}
	
}