<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">


	<insert id="pointUpdate" >
		INSERT INTO BM_POINT (
			USER_ID
			,INFO
			,POINT
		) VALUES (
			#{userId }
			,#{info }
			,#{point }
		)
	</insert>
	
	<select id="getMyStoreId" resultType="long">
	SELECT STORE_ID FROM BM_STORE WHERE USER_ID = #{userId } 
	</select>
	
	<update id="storeInfoUpdate">
	UPDATE BM_STORE SET
		CATEGORY = #{category }
		,STORE_NAME = #{storeName }
		,STORE_ADDRESS1 = #{storeAddress1 }
		,STORE_ADDRESS2 = #{storeAddress2 }
		,STORE_ADDRESS3 = #{storeAddress3 }
		,STORE_PHONE = #{storePhone }
		,STORE_IMG = #{storeImg }
		,STORE_THUMB = #{storeThumb }
		,OPENING_TIME = #{openingTime }
		,CLOSING_TIME = #{closingTime }
		,MIN_DELEVERY = #{minDelevery }
		,DELEVERY_TIME = #{deleveryTime }
		,DELEVERY_TIP = #{deleveryTip }
		,STORE_DES = #{storeDes }
	WHERE
		ID = #{id }  
	</update>
	
	
	
</mapper>