/* -------------  푸터 ------------- */




footer {
    background-color:#2AC1BC;
    height: 130px;
    font-size: 13px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .box {
	width : 1200px;
	height: 80px;
}

/* -------------  푸터 ------------- */


@media (min-width:768px) and (max-width:1023px) {
}
@media  (max-width:767px) {
	footer {
		height: 100px; 
	}
	
	footer .box {
		width : 90%;
	}

}